<!DOCTYPE html>
<html>
<head>
    <title>View Item Details</title>
</head>
<body>
    <h1>View Item Details</h1>
    <table>
        <tr>
            <th>Item ID</th>
            <th>Item Name</th>
            <th>Quantity</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.item_id }}</td>
            <td>{{ item.item_name }}</td>
            <td>{{ item.qty }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
